<form class="ui form segment">
  
  <h2>
    Project's PRECACHE_URLS
  </h2>
  
  <div class="field">
    <label>Project Path</label>
    <input type="text" placeholder="Project base path..." v-model="projectPath"
           onfocus="this.select()">
    <!--
    <div class="ui action input">
      
      <input type="text" placeholder="Project base path..." v-model="projectPath">
      <button class="ui button"
              type="button"
              v-on:click="queryProjectFileList">List</button>
    </div>
    -->
  </div>
  <div class="field">
    <textarea v-model="excludePatternsText" onfocus="this.select()"
              class="ui attached"></textarea>
    <button v-bind:class="{disabled: (excludePatternsText === defaultExcludePatternsText)}" type="button" class="ui bottom attached fluid button"
            v-on:click="resetExcludePatternsText">RESET</button>
  </div>
  
  <!--
  <div class="two fields">
    <div class="field">
      <label>Prefix</label>
      <input type="text" v-model="prefixText" />
    </div>
    <div class="field">
      <label>Suffix</label>
      <input type="text" v-model="suffixText" />
    </div>
  </div>
  -->
  
      
      <div class="field">
        <label>
          service-worker-loader.js
        </label>
        <div class="ui fluid buttons">
          <a href="./assets/service-worker-loader.js" 
             download="service-worker-loader.js"
              class="ui button">
             SAVE
          </a>
          <button type="button"
                  v-on:click="copyLoaderSrcCode"
              class="ui button">
             COPY SRC CODE
          </button>
        </div>
          
      </div>
  
  <div class="field">
    <button class="ui fluid button"
              type="button"
              v-on:click="queryProjectFileList"
              v-bind:class="{disabled: (projectPath === '')}">GET PRECACHE_URLS</button>
  </div>
  
  <div v-show="fileList.length > 0">
    <h3 class="ui horizontal divider header" 
        v-show="fileList.length > 0">
      Output
    </h3>

    <div class="field">
      <label>File lists</label>
      <textarea v-model="fileListText" onfocus="this.select()"></textarea>
    </div>
    
      <div class="field">
        <label>
          service-worker.js
        </label>
        <div class="ui fluid buttons"
             v-bind:class="{disabled: (fileList.length === 0)}">
          <button type="button" class="ui button"
                  v-on:click="saveServiceWorkerCode"
                  ref="SaveButton">SAVE</button>
          <button v-bind:class="{positive: copied}" type="button" class="ui button"
                  v-on:click="copyServiceWorkerCode"
                  ref="CopyButton">COPY</button>
        </div>
      </div>
    
  </div>
    
</form>